<%= turbo_stream.replace "products_frame" do %>
  <%= turbo_frame_tag "products_frame" do %>
    <table class="w-full text-sm text-left text-slate-500">
      <thead class="text-xs text-slate-700 uppercase bg-slate-50 border-b border-slate-200">
        <tr>
          <th scope="col" class="px-6 py-4 font-semibold">Product</th>
          <th scope="col" class="px-6 py-4 font-semibold">Price</th>
          <th scope="col" class="px-6 py-4 font-semibold">Quantity</th>
          <th scope="col" class="px-6 py-4 font-semibold text-right">Actions</th>
        </tr>
      </thead>
      <tbody id="products">
        <%= render @products %>
      </tbody>
    </table>
  <% end %>
<% end %>
