<span id="sidebar_product_count" class="bg-indigo-500 text-white py-0.5 px-2.5 rounded-full text-xs font-bold border border-indigo-400 shadow-[0_0_10px_rgba(99,102,241,0.5)]">
  <%= Product.count %>
</span>
